/*External CSS*/
.lorem{
	font-size: 18px;
	background-color: rgb(194, 234, 237);
}
.lorem1{
	font-size: 18px;
	background-color: rgba(82, 7, 10,0.5);
}
#lorem2{
	font-size: 20px;
	color: white ;
	background-color: green;
}